<h1>中塚サイト</h1>
<p>エロサイトではありません</p>

<% if user_signed_in? %>
<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<%= link_to"中塚さんはここをおして",new_blog_psth %>
<% else %>
<li><%= link_to "Login", new_user_session_path %></li>
<% end %>
<%= link_to "問い合わせ",inquiries_index_path %>
